body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #1f2028;
}

*::selection {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 23%;
  height: 80%;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  gap : 20px;
}

.card {
  /* fit the app container */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* everything that is outside disapears */
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  box-shadow: -7px 13px 9px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* ----------CARD INFO NEW VERSION ---------------*/
.card-info{
  position : absolute;
  bottom: 0;
  left : 0;
  display : flex;
  flex-direction : column;
  gap : 10px;
  padding : 6%;
  color : rgb(204, 204, 204);
  font-family: 'Roboto', sans-serif;
}

.card-info-main{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  gap : 10px;
  font-size: 2em;
}

.card-age{
  font-size: 1em;
  font-weight: bold;
}

.card-desc{
  font-size: 1.1em;
}

/* ------------------NAVBAR--------------------- */

.nav-bar-heart,
.nav-bar-delete {
  /* size */
  width: 45px;
  height: 45px;
  fill : #c0c0c0;
  cursor: pointer;
}

.nav-bar-heart {
  color: rgb(6, 201, 6);
}

.nav-bar-delete {
  color: red;
}

.navbar {
  /* display in row */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* padding-top: 15px; */
}

/* all items in navbar have padding */
.navbar > * {
  padding: 10px;
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* padding-bottom: 15px; */
}

.header-profile,
.header-messages,
.header-logout {
  width: 45px;
  height: 45px;
  fill: #c0c0c0;
  cursor: pointer;
  border-radius: 50%;
  transition: fill 0.2s;
}

.match-unit {
  /* this container is placed at the left bottom corner */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 0.8em;
  align-items: flex-start;
  padding : 30px;
}

.match-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  gap : 15px;
}

.match-profile-picture {
  /* fit .match-unit container */
  height: 100%;
  width: 100%;
}

.match-profile-picture > img {
  /* fit .match-unit container */
  width: 4em;
  height: 4em;
  /* crop the picture */
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.match-info-wrapper-wrapper{
  width: 100%;
  height: 100%;
}

.match-not-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
}

.match-name {
  font-weight: bold;
  font-size: 1.6em;
  /* color */
  color: #505050;
}

.match-not-image > * {
  padding: 0;
  margin: 0;
  margin-top: 2px;
}

.match-message-preview {
  /* font */
  font-size: 1.1em;
  font-weight: lighter;
  /* font color */
  color: rgb(139, 139, 139);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  padding-top: 2px;
  width: 100%;
}

.match-unit-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.progress-bar-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-bar{
  width: 90%;
  height: 0.5em;
  background-color: rgb(218 218 218);
  border-radius: 5px;
}

.progress-bar-inner{
  width: 0%;
  height: 0.5em;
  background-color: rgb(131, 154, 240);
  border-radius: 5px;
  transition: 1s;
}

.messages-body {
  width: 100%;
  /* 90% because messages-actions is set on 10%... */
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: overlay;
  font-size: 1.4em;
}

.messages-body > .message-wrapper-me,
.messages-body > .message-wrapper-other {
  padding-top: 1.2em;
}

.messages-body > .message-wrapper-me:last-child,
.messages-body > .message-wrapper-other:last-child {
  padding-bottom: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(218 218 218);
  /* border-radius: 3em; */
}

.message-wrapper-other {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  /* padding: 5px; */
  margin-left: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.message-other {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(218, 218, 218);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.message-other > .message-text {
  color: rgb(114, 114, 114);
  font-size: 0.8em;
  /* roboto */
  /* font-family: 'Roboto', sans-serif; */
}

.message-wrapper-me {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 95%;
  /* padding: 5px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.message-me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #7e8cbe;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.message-me > .message-text {
  color: rgb(227 227 227);
  font-size: 0.8em;
  /* roboto */
  /* font-family: 'Roboto', sans-serif; */
  margin: 0.7em;
}

.message-text {
  /* font */
  font-size: 0.7em;
  font-weight: lighter;
  /* font color */
  color: rgb(139, 139, 139);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  /* text continues on the line */
  white-space: initial;
  text-align: left;
  margin: calc(3%);
}

.messages-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  /* margin-bottom: calc(5%); */
  /* shadow */
  box-shadow: 0px 0px 3px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.messages-header-back {
  /* size */
  /* width: 4%;
  height: 4%; */
  color: #c0c0c0;
  width: 10%;
  height: 40%;
  cursor: pointer;
}

.messages-profile-picture {
  /* size */
  width: 3em;
  height: 3em;
  /* crop the picture */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.messages-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  bottom: 0;
  /* border-radius: 5px; */
  font-size: 1.4em;
  background-color: rgb(218 218 218);
  box-shadow: 0px 0px 3px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.messages-input > * {
  border: none;
  /* font */
  font-size: 0.8em;
  font-weight: lighter;
  color : rgb(104, 104, 104);
  /* roboto */
  /* font-family: 'Roboto', sans-serif; */
  background-color: transparent;
}

.messages-input > input {
  height: 100%;
  width: 75%;
  color : rgb(104, 104, 104);
}

.messages-input > input:focus {
  /* highlight borders */
  outline: none;
}

.messages-input > input::selection {
  background-color: #525466;
  color: white;
}

.messages-input {
  border: solid 1px rgb(185, 185, 185);
  border-radius: 20px;
  overflow: hidden;
  height: 50%;
  width: 90%;
}

.button-send {
  background-color: rgb(218 218 218);
  cursor: pointer;
  height: 100%;
  border-radius: 20px;
}

.button-send:active {
  transform: scale(0.9);
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* login page */

body,
html,
#root {
  width: 100%;
  height: 100%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page,
.login-page-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #1f2028;
  /* shadow */
  box-shadow: 0px 0px 3px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.login-page-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.login-page-input {
  height: 50%;
  width: 50%;
}

.login-page-input-form-input {
  height: 2%;
  width: 50%;
  padding: 40px;
}

.login-page-input-form-input,
.login-page-input-form-button {
  border: 0px;
  border-radius: 10px;
  /* font-size: 0.8em; */
  /* font-weight: lighter; */
  color: rgb(139, 139, 139);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  background-color: #2e3039;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-text-fill-color: rgb(88, 88, 88) !important;
}


.login-page-input-form-button{
  font-size: 1.3em;
}

.login-page-input-form-input {
  background: linear-gradient(to left, #2e3039 50%, #3b3e49 50%) right;
  background-size: 200%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-page-input-form-input:hover {
  background-position: left;
}

.login-page-input-form-input::selection{
  background-color: #cccccc;
  color :rgb(0, 0, 0)
}

/* Button animation */

.btn{
  padding : 15px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-active{
  transform: translateY(3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #8f8f93;
  color: rgb(48, 48, 48);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #3b3e49;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animate{
  /* all animations are smoothened */
  transition: all 0.2s;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
